{% extends "home/base.html" %}

{% block content%}
	{% for task in tasks  %}
		<article class="media content-section">
			<img class="rounded-circle article-img" src="{{ post.creator.profile.image.url }}">
			 <div class="media-body">
			   <div class="article-metadata">
			     <a class="mr-2" href="#">{{ task.creator }}</a>
			     <small class="text-muted">{{ task.date_posted|date:"F d, Y"}}</small>
			   </div>
			   <h2><a class="article-title" href="#">{{ task.title }}</a></h2>
			   <p class="article-content">{{ task.content }}</p>
			 </div>
		</article>
	{% endfor %}
{% endblock content %}
